h1 {
    font-size: 6.5vw;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #eb6383;
}
.char,
.word {
    display: inline-block;
}
.splitting .char {
    animation: slide-in 1s cubic-bezier(0.17, 0.84, 0.4, 1.49) both;
    animation-delay: calc(30ms * var(--char-index));
}
[data-word='♬'] .char {
    display: inline;
}

@keyframes slide-in {
    0% {
        transform: scale(2) rotate(60deg);
        opacity: 0;
    }
}
@keyframes bump-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}
particule {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 4px #eb6383;
}
